#inline{
    background-color: red;
    display:inline;
    padding:15px;
    height:150px;
}
#inline-block{
    background-color: rgb(0, 255, 55);
    display:inline-block;
    padding:15px;
    height:150px;
}
.align1{
    height:150px;
    width:50%;
    border: 6px solid darkred;
    margin:auto;
}
img{
    display:block;
    margin:auto;
    height:100px;
    width:100px;
}
.align2{
    height:150px;
    width:50%;
    line-height: 200px;
    border: 6px solid rgb(10, 131, 230);
    margin:auto;
}
.align3{
    height:50%;
    width:150px;
    position:relative;
    border: 6px solid rgb(10, 131, 230);
    
}
.sub-div1{
   
        height:100px;
        width:50px;
        position: relative;
        border: 6px solid rgb(160, 9, 219);
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        margin:auto;
        
    
}
.div1 p{
    color:blue;
}

.div4+p{
    color:rgb(233, 5, 55);
}


a{
    margin-top:20px;
    display:inline-block;
    text-decoration: none;
    color:black;
    background-color: green;
    padding: 25px;
    border-radius: 13px;
}
a:link
{
    color:blue;
    opacity: 0.3;
}
a:visited{
   background-color: red;
}
a:hover
{
    
    opacity: 1;
}
a:active{
    background-color: aqua;
 }
 .text{
    height:150px;
    width:50%;
    border: 6px solid red;
 }
 div.text:hover{
    border: 6px solid red;
 }



